# File for building addon on Windows machine in GitHub Actions
# (I have only mac as primary machine and old windows PC, it's faster for me to build here)

name: Windows Addon Build & Artifact

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  build_windows:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - name: Install dependencies (npm install)
      run: npm install

    - name: Build C++ Addon (npm run build)
      run: npm run build 
      
    - name: Upload compiled addon
      uses: actions/upload-artifact@v4
      with:
        name: vnc-server-windows-x64
        path: build/Release/vnc_server.node
        retention-days: 1